body{
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.top{
	position: absolute;
	left: 476px;
	z-index: 1;
}

nav {
    position: absolute;
}
nav ul{
    background-color: #222931;
    display: inline-block;
    width: 950PX;
}
li{
    display: inline-block;
}
a{
    color: white;
}

li:hover, a:hover{
    background-color: #ffe718;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ffe718 ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #ffe718
}

.dropdown:hover .dropdown-content {
    background-color: #222931;
    display: block;
}

.header img{
	position: absolute;
	width: 1903px;
	top: 80px;
}

.ribbon{
	width: 1903px;
	position: absolute;
	top: 1000px;
}

.ribbon h1{
	padding-left: 360px;
	background-color: yellow;
	line-height: 150px;
	margin-top: 60px
}

.ribbon h5{
	position: absolute;
	left: 730px;
	top: 110px;
}

.ribbon button{
	background-color: white	; 
	border: none;
	color: black;
	padding: 12px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 500px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
 	left: 1200px;
 	top: 110px;
}

#ribbonBTN:hover{
	background-color: #222931;
	color: white;
}

.footerimg{
	width: 1903px;
	position: absolute;
	top: 1240px;
}

.footer1{
	background-color: yellow;
	width: 300px;
	position: absolute;
	left: 300px;
	top: 1480px;
	padding: 15px;
}

.footer1 img{
	height: 60px;
}

.footer1:hover{
	background-color: #222931;
	color: white;

}
.footer-text{
	display:inline-block;
	margin-left:15px;
}

.footer2{
	height: 70px;
	background-color: yellow;
	padding: 30px;
	padding-right: 30px;
	position: absolute;
	left: 740px;
	top: 1480px;
}

.footer2 img{
	height: 60px;
}

.footer2:hover .footer2{
	background-color: #222931
	color: white;
}

.footer3{
	height: 70px;
	background-color: yellow;
	padding: 30px;
	padding-right: 30px;
	position: absolute;
	left: 1180px;
	top: 1480px;
}

.footer3 img{
	height: 60px;
}

.footer3:hover .footer3{
	background-color: #222931
	color: white;
}

.line{
	background-color: black;
	width: 1230px;
	height: 1px;
	position: absolute;
	top: 1700px;
	left: 330px;
	opacity: 0.2;
}

.text{
	position: absolute;
	width: 400px;
	top: 1800px;
	left: 300px;
}

.text2{
	position: absolute;
	left: 1180px;
	top: 1800px;
}

.text3{
	position: absolute;
	left: 1250px;
	top: 1900px;
	line-height: 5px;
}

.textimg{
	height: 40px;
}

footer{
	position: absolute;
	top: 2300px;
	background-color: #222931;
	width: 1903px;
	height: 80px;
}

footer p{
	color: white;
	position: absolute;
	left: 1350px;
	font-size: 20px;
}








.banner{
	position: absolute;
	left: 160px;
	top: 700px;
}

div.banner1{
    width: 300px;
    height: 220px;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:  925px;
    display: inline-block;
}

div.banner2 {
    width: 300px;
    height: 220px;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 600px;
    display: inline-block;

}
div.banner3{
    width: 300px;
    height: 220px;
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:  275px;
    display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100;
  right: 0;
  margin-top: 50px;
  height: 220px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
}

.dienstenhover:hover .overlay{
	opacity: 1.5;
    background-color: rgba(34,41,49,0.8);

}
.geschiedenishover:hover .overlay{
    opacity: 1.5;
    background-color: rgba(34,41,49,0.8);
}
.dealshover:hover .overlay{
    opacity: 1.5;
    background-color: rgba(34,41,49,0.8);
}

.textov {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
