body{
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500px;
}

.top{
	width: 950PX;
    margin: 0 auto;
}

nav {
    position: absolute;
}
nav ul{
    background-color: #222931;
    display: inline-block;
    width: 950PX;
}
li{
    display: inline-block;
}
a{
    color: white;
}

li:hover, a:hover{
    background-color: #ffe718;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ffe718 ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #ffe718
}

.dropdown:hover .dropdown-content {
    background-color: #222931;
    display: block;
}

.header img{
	margin-top: 50px;
}

.banner{
	width: 1000px;
	margin: 0 auto;
}

.banner-1:hover{
	color: #222931;
}

.banner-2:hover{
	
}

.banner-3:hover{
	
}

.banner img{
	width: 300px;
	padding-top: 60px;
	padding-right: 20px;
}

.ribbon{
	margin: 0 auto;
	width: 100%;
	;
}

.ribbon h1{
	padding-left: 360px;
	background-color: yellow;
	line-height: 150px;
	margin-top: 60px
}

.ribbon h5{
	position: absolute;
	left: 730px;
	top: 1075px;
}

.ribbon button{
	background-color: white	; 
	border: none;
	color: black;
	padding: 12px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 500px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
 	left: 1200px;
 	top: 1065px;
}

#ribbonBTN:hover{
	background-color: #222931;
	color: white;
}

.footerimg{
	width: 1903px;
	margin-top: 50px;
}

.footerbtn1{
	height: 70px;
	background-color: yellow;
	padding: 30px;
	padding-right: 300px;
	position: absolute;
	left: 300px;
	top: 1480px;
}

.footerbtn2{
	height: 70px;
	background-color: yellow;
	padding: 30px;
	padding-right: 300px;
	position: absolute;
	left: 740px;
	top: 1480px;
}

.footerbtn3{
	height: 70px;
	background-color: yellow;
	padding: 30px;
	padding-right: 300px;
	position: absolute;
	left: 1180px;
	top: 1480px;
}

.footer1 h2{
	position: absolute;
	left: 430px;
	top: 1500px;	
}

.footer1 h4{
	position: absolute;
	left: 430px;
	top: 1535px;
}

.footer2 h2{
	position: absolute;
	left: 870px;
	top: 1500px;	
}

.footer2 h4{
	position: absolute;
	left: 870px;
	top: 1535px;
}

.footer3 h2{
	position: absolute;
	left: 1310px;
	top: 1500px;	
}

.footer3 h4{
	position: absolute;
	left: 1310px;
	top: 1535px;
}

.line{
	background-color: black;
	width: 1230px;
	height: 1px;
	position: absolute;
	top: 1700px;
	left: 330px;
	opacity: 0.2;
}

.text{
	margin-top: 230px;
	width: 600px;
	position: absolute;
	left: 300px;
}

.text2{
	position: absolute;
	left: 1180px;
	top: 1800px;
}

.textimg{
	height: 40px;
}

.text3{
	position: absolute;
	left: 1250px;
	top: 1900px;
	line-height: 5px;
}

footer{
	position: absolute;
	top: 2300px;
	background-color: #222931;
	width: 1903px;
	height: 80px;
}

footer p{
	color: white;
	position: absolute;
	left: 1350px;
	font-size: 20px;
}